<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>文件列表</title>
<link type="text/css" href="./easyui/1.7.0/themes/default/easyui.css" rel="stylesheet"/>
<link type="text/css" href="./easyui/1.7.0/themes/icon.css" rel="stylesheet"/>

<script type="text/javascript" src="./jquery/3.3.1/jquery.min.js"></script>
<!-- 引入jquery-cookie -->
<script src="./jquery-cookie/1.4.1/jquery.cookie.js"></script>

<script type="text/javascript" src="./easyui/1.7.0/jquery.easyui.min.js"></script>
<script type="text/javascript" src="./listfile.js"></script>

</head>
<body>

<table id="dg" title="查询结果" class="easyui-datagrid" style="width:100%;height:auto;"
		url="/audio/audiodatagrid?validStatus=1"
		toolbar="#toolbar"
		rownumbers="true" pagination="true" fitColumns="true">
		<!-- table增加了pagination="true"属性，就增加了底部的分页工具栏 -->
	<thead>
		<tr>
			<!-- field必须不能重复，否则页面展示上比例调整起来很没有规律 -->
			<th data-options="field:'id',hidden:true">id</th>
			<th data-options="field:'userCode',hidden:true">userCode</th>
			<th field="name" width="40">名称</th>
			<th field="userName" width="30">上传者</th>
			<th field="insertTime" width="30">上传时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar">
	<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newRecord('上传文件')">上传文件</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyRecord()">删除文件</a>
	
</div>

	<input type="hidden" id="userCode_hidden" name="userCode"/>
	<input type="hidden" id="userName_hidden" name="userName"/>
	
	<div id="dlg" class="easyui-dialog" style="width:400px;height:auto;padding:0px 0px"
			closed="true">
		<div title="上传图片" style="padding:5px">
			<form id="fm" method="post" novalidate>
				<table style="width:98%;">
					<tr>
						<td>
							<input id="userCode_edit" name="userCode" label="用户代码" class="easyui-textbox" style="width:98%"/>
						</td>
					</tr>
					<tr>
						<td>
							<input id="userName_edit" name="userName" label="用户名" class="easyui-textbox" style="width:98%"/>
						</td>
					</tr>
					<tr>
						<td>
							<input id="file_edit" class="easyui-filebox" label="文件" name="file"  data-options="buttonText:'选择',prompt:'请选择文件...'" style="width:98%">
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="easyui-linkbutton" onclick="uploadFile()" style="width:98%">确定</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

</body>
</html>